@inject Microsoft.AspNetCore.Identity.SignInManager<IdentityUser> signInManager;
@model List<AirSicknessBags.Models.Bagsmvc>
@{
    ViewData["Title"] = "Bags";
}

<h1>Bag List</h1>

@using (Html.BeginForm("Index", "Bags", FormMethod.Post))

{
<div class="container border">
    <div class="form-group row">
        <div class="col-2">Find Airline</div>
        <div class="col-3">
            <input type="text" id="Airline" name="Airline" />
        </div>
        <div class="col-3">Bag Details Contain</div>
        <div class="col-3">
            <input type="text" id="Detail" name="Detail" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-2">
            <label for="BagType">Type of Bag:</label>
        </div>
        <div class="col-2">
            <select id="BagType" name="BagType">
                <option value="">Any</option>
                <option value="A">Air Sickness</option>
                <option value="S">Sea Sickness</option>
                <option value="C">Car Sickness</option>
                <option value="B">Bus Sickness</option>
                <option value="T">Train Sickness</option>
                <option value="P">Space Sickness</option>
                <option value="V">Video Games</option>
                <option value="L">Political</option>
                <option value="M">Movie</option>
                <option value="E">Medical</option>
                <option value="U">Musical</option>
                <option value="O">Odd/Unique</option>
                <option value="G">Generic</option>
                <option value="N">Unknown</option>
            </select>
        </div>

        <div class="col-2">
            <label for="Equal">Equal</label>
            <input type="radio" id="Equal" name="DateCompare" value="Equal">
        </div>
        <div class="col-2">
            <label for="Before">Before</label>
            <input type="radio" id="Before" name="DateCompare" value="Before">
        </div>

        <div class="col-2">
            <label for="After">After</label>
            <input type="radio" id="After" name="DateCompare" value="After">
        </div>

        <select class="col-2" id="Year" name="Year">
            <option value="Any">Any</option>
            @for (int i = 1959; i < DateTime.Now.Year; i++)
            {
                <option value="@i">@i</option>
            }
        </select>
    </div>

    <label for="Swaps">Swaps Only?</label>
    <input type="checkbox" id="Swaps" name="Swaps">
    <label for="Swaps">See Every Bag (loads slowly)</label>
    <input type="checkbox" id="SeeEveryBag" name="SeeEveryBag">
    <br>
    <input class="btn btn-info" type="submit" value="Find Bag" />
    @* Only let logged in user create a bag *@
    @if (signInManager.IsSignedIn(User))
    {
        <a class="btn btn-info" asp-controller="Bags" asp-action="Edit">Create Bag</a>
    }
    <hr />
    </div>
}


@*Display the bag(s) returned*@
@if (Model != null)
{
    <h5>
        Page @ViewBag.WhichPage of @ViewBag.NumPages <br />

        Sort By:
        <a class="btn btn-link" asp-action="Index" asp-route-sortorder="@ViewBag.NameSortParm">
            Airline / Bag Name @if (ViewBag.NameSortParm == "airline_desc")
            {<div>descending</div>}
        </a>  -
        <a class="btn btn-link" asp-action="Index" asp-route-sortorder="@ViewBag.YearSortParm">
            Year @if (ViewBag.YearSortParm == "year_desc")
            {<div>descending</div>}
        </a>
    </h5>

    @foreach (var x in Model)
    {
        <h5>
            @x.Airline- @x.Id<br />
            @Html.Raw(@BagContext.DisplayImage(x.FrontFileName))
            @Html.Raw(@BagContext.DisplayImage(x.BackFileName))
            @Html.Raw(@BagContext.DisplayImage(x.BottomFileName))<br />

            @* Only let logged in user edit, copy or link bags *@
            @if (signInManager.IsSignedIn(User))
            {
                <a class="btn btn-info" asp-controller="Bags" asp-action="Edit" asp-route-id="@x.Id">Edit Bag</a>
                @*<a class="btn btn-info" asp-controller="Bags" asp-action="Index">Cancel</a>*@
                <a class="btn btn-info" asp-controller="Bags" asp-action="Edit" asp-route-id="@x.Id" asp-route-copy="true">Copy Bag</a>
                <a class="btn btn-info" asp-controller="Links" asp-action="Create" asp-route-id="@x.Id" asp-route-copy="true">Link Bag</a>
            }
        </h5>

        @if (x.NumberOfSwaps > 0)
        {
            <h6 class="alert-heading">Swap available!</h6>
        }
        <h5>
            @(x.Year != null ? "Approximate Year: " + x.Year + ", " : "")
            @(x.ObtainedFrom != null ? "Originally Obtained From: " + x.ObtainedFrom + ", " : "")
            @Html.Raw(x.Detail)
        </h5>
        <hr />

    }

    <h5>
        @if (ViewBag.WhichPage != 1 && ViewBag.NumPages != 1)
        {
            <a class="btn btn-link" asp-controller="Bags" asp-action="Index" asp-route-sortorder="@ViewBag.SortOrder"
               asp-route-whichpage="@(ViewBag.WhichPage - 1)">Previous @ViewBag.PerPage Bags</a>
        }
        -
        @if (ViewBag.WhichPage != ViewBag.NumPages && ViewBag.NumPages != 1)
        {
            <a class="btn btn-link" asp-controller="Bags" asp-action="Index" asp-route-sortorder="@ViewBag.SortOrder"
               asp-route-whichpage="@(ViewBag.WhichPage + 1)">Next @ViewBag.PerPage Bags</a>
        }
    </h5>

}


@*@functions {

        *** Moved to BagContext.cs

    }*@
