@model BagContext.AllLinkViewModel
@*@model AirSicknessBags.Models.Linksmvccore*@

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Link Bags and People</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<input type="hidden" asp-for="Link.LinkNumber" />*@
            <input asp-for="Link.LinkNumber" />
            <div class="form-group">
                <label asp-for="Link.BagId" class="control-label"></label>
                <input type="number" asp-for="Link.BagId" class="form-control" />
                <span asp-validation-for="Link.BagId" class="text-danger"></span>
                <select class="col-12" onchange="document.getElementById('Link_BagId').value = this.value;" id="Bag" name="Bag">
                    @foreach (var bag in Model.Bags)
                    {
                        @if (bag.Id == Model.Link.BagId)
                        {
                            <option value="@bag.Id" selected>@bag.Id : @bag.Airline @bag.FrontFileName</option>
                        }
                        else
                        {
                            <option value="@bag.Id">@bag.Id : @bag.Airline @bag.FrontFileName</option>
                        }
                    }
                </select>

            </div>
            <div class="form-group">
                <label asp-for="Link.PersonId" class="control-label"></label>
                <input type="number" asp-for="Link.PersonId" class="form-control" />
                <span asp-validation-for="Link.PersonId" class="text-danger"></span>
                <select class="col-12" onchange="document.getElementById('Link_PersonId').value = this.value;" id="Person" name="Person">
                    @foreach (var person in Model.People)
                    {
                        @if (person.PersonNumber == Model.Link.PersonId)
                        {
                            <option value="@person.PersonNumber" selected>@person.PersonNumber : @person.FirstName @person.MiddleName @person.LastName</option>
                        }
                        else
                        {
                            <option value="@person.PersonNumber">@person.PersonNumber : @person.FirstName @person.MiddleName @person.LastName</option>
                        }
                    }
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" asp-route-everything="@Model" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

