@inject Microsoft.AspNetCore.Identity.SignInManager<IdentityUser> signInManager;
@model AirSicknessBags.ViewModels.AllLinkViewModel
@*@model IEnumerable<AirSicknessBags.Models.Linksmvccore>*@

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (signInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Links[0].BagId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Links[0].PersonId)
                </th>
                <th>
                    Front
                </th>
                <th>
                    Back
                </th>
                <th>
                    Bottom
                </th>
                <th>
                    Person
                </th>
                @if (signInManager.IsSignedIn(User))
                {
                    <th>
                        Actions
                    </th>
                }

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Links)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BagId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonId)
                </td>
                <td>
                    @{
                        var bag = Model.Bags.FirstOrDefault(x => x.Id == item.BagId);
                        @bag.FrontFileName 
                    }
                </td>
                <td>
                    @{
                        @bag.BackFileName 
                    }
                </td>
                <td>
                    @{
                        @bag.BottomFileName
                    }
                </td>
                <td>
                    @{
                        var guy = Model.People.FirstOrDefault(x => x.PersonNumber == item.PersonId);
                        @(guy.FirstName) @(guy.MiddleName) @(guy.LastName)
                    }
                </td>
                <td>
                    @*<a asp-action="Details" asp-route-id="@item.LinkNumber">Details</a>*@
                    @if (signInManager.IsSignedIn(User))
                    {
                        <span>
                            <a asp-controller="Links" asp-action="Edit" asp-route-id="@item.LinkNumber">Edit</a>
                            | <a asp-controller="Links" asp-action="Delete" asp-route-id="@item.LinkNumber">Delete</a>
                        </span>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
