@model AirSicknessBags.Models.Bagsmvc

@{
    ViewData["Title"] = "Air Sickness Bag Museum";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to the Air Sickness Bag Virtual Museum</h1>
        <h4>Serving your barf bag needs since 1997</h4>
        <div class="container">
            <p>Random Bag of The Day</p>
            @Model.Airline- @Model.Id<br />
            @Html.Raw(@BagContext.DisplayImage(Model.FrontFileName)) 
            @Html.Raw(@BagContext.DisplayImage(Model.BackFileName)) 
            @Html.Raw(@BagContext.DisplayImage(Model.BottomFileName))<br />
        </div>

    </div>
