@inject Microsoft.AspNetCore.Identity.SignInManager<IdentityUser> signInManager;
@*@model IEnumerable<AirSicknessBags.Models.Peoplemvc>*@
@model BagContext.PeopleViewModel

@{
    ViewData["Title"] = "People of Air Sickness";
}

<script type="text/javascript">
    $(document).ready(function () {
        alert("hello world");
    });
</script>

@if (signInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<h5>Collectors, Donated Collections, Donated a bag or several, Swappers, Sellers, Received a Starter Kit </h5>
<div class="border container">
    <form asp-controller="People" asp-action="Index" method="post">


        <div class="container border">
            <div class="form-group row">
                <div class="col-2">Find Person</div>
                <div class="col-3">
                    <input type="text" id="PersonName" name="PersonName" />
                </div>
                <div class="col-3">Person Details Contain</div>
                <div class="col-3">
                    <input type="text" id="Detail" name="Detail" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label for="Country">Country:</label>
                </div>
                <div class="col-2">
                    <select id="Country" name="Country">
                        <option value="">Any</option>
                        @foreach (var ctry in Model.Countries)
                        {
                            <option value="@ctry.Iso">@ctry.Name</option>
                        }
                    </select>
                </div>


            </div>

            <label for="AllPeople" title="Choosing this overrides all other selections">See Everyone?</label>
            <input type="checkbox" id="AllPeople" name="AllPeople">
            |
            <label for="HasWebsite">Has Website?</label>
            <input type="checkbox" id="HasWebsite" name="HasWebsite">
            |
            <label for="Collector" title="See a list of Air Sickness Bag Collectors">Collector</label>
            <input type="checkbox" id="Collector" name="Collector">
            |
            <label for="Donor" title="These people have donated a bag, a few bags or an entire collection!">Donor</label>
            <input type="checkbox" id="Donor" name="Donor">
            |
            <label for="Swapper" title="I have exchanged bags with these people">Swapper</label>
            <input type="checkbox" id="Swapper" name="Swapper">
            |
            <label for="Seller" title="Here's a list of people that I bought bags from">Seller</label>
            <input type="checkbox" id="Seller" name="Seller">
            |
            <label for="StarterKit" title="I have sent a Starter Kit to these people">Starter Kit</label>
            <input type="checkbox" id="StarterKit" name="StarterKit">

            <br>
            <input class="btn btn-info" type="submit" value="Find Person" />
            @if (signInManager.IsSignedIn(User))
            {
                <a class="btn btn-info" asp-controller="People" asp-action="Edit">Create Person</a>
            }
            <hr />
            </div>







    </form>
</div>

@if (Model.People != null)
{
    <h5>
        Page @ViewBag.WhichPage of @ViewBag.NumPages :
    </h5>
    <table class="table table-responsive">
        <thead class="thead-light">
            <tr>
                <th scope="col">
                    @*@Html.DisplayNameFor(model => model.People[0].FirstName) @Html.DisplayNameFor(model => model.People[0].MiddleName)*@
                    @Html.DisplayNameFor(model => model.People[0].LastName)
                </th>
                <th class="col-2">Gallery</th>
                <th>
                    @Html.DisplayNameFor(model => model.People[0].PrimarySiteName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.People[0].PrimarySite)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.People[0].Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.People[0].PrimaryEmail)
                </th>
                <th class="col-1">
                    Characteristics
                </th>
                <th class="col-4">
                    @Html.DisplayNameFor(model => model.People[0].Comments)
                </th>
                @if (signInManager.IsSignedIn(User))
                {
                    <th>Edit</th>
                }
                <th>Details</th>
                @if (signInManager.IsSignedIn(User))
                {
                    <th>Delete</th>
                }
                <th>
                    @Html.DisplayNameFor(model => model.People[0].SecondarySiteName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.People[0].SecondarySite)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.People[0].SecondaryEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.People[0].TertiaryEmail)
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.People)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)  @Html.DisplayFor(modelItem => item.MiddleName)
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                @if (item.PersonNumber != 0 && item.Links.Count != 0)
                {
                    <td class="col-2">
                        <a class="btn btn-info" asp-controller="Links" asp-action="Details" asp-route-id="@item.PersonNumber">See their bags</a>
                    </td>
                }
                else
                {
                    <td class="col-2">
                        &nbsp;
                    </td>

                }
                <td>
                    @Html.DisplayFor(modelItem => item.PrimarySiteName)
                </td>
                <td>
                    @if (item.PrimarySiteName != null && item.PrimarySiteName != "")
                    {
                        @*<a href="@("http://" + @item.PrimarySite)" target="_blank">@("http://" + @item.PrimarySite)</a>*@
                        <a href="@(@item.PrimarySite)" target="_blank">@(@item.PrimarySite)</a>
                    }
                </td>
                <td>
                    @{
                        var c = Model.Countries.FirstOrDefault(x => x.Iso == item.IsoCountry);
                        if (c != null)
                        {
                            @c.Name
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrimaryEmail)
                </td>
                <td class="col-1">
                    @if (@item.Collector == 1)
                    {
                        <label asp-for="@item.Collector"></label>
                    }
                    @if (@item.Donor == 1)
                    {
                        <label asp-for="@item.Donor"></label>
                    }
                    @if (@item.Swapper == 1)
                    {
                        <label asp-for="@item.Swapper"></label>
                    }
                    @if (@item.Seller == 1)
                    {
                        <label asp-for="@item.Seller"></label>
                    }
                    @if (@item.StarterKit == 1)
                    {
                        <label asp-for="@item.StarterKit"></label>
                    }
                </td>
                <td class="col-4">
                    @Html.Raw(item.Comments)
                </td>
                @if (signInManager.IsSignedIn(User))
                {
                    <td>
                        <a id="EditPeopleButton" class="btn btn-info" asp-controller="People" asp-action="Edit" asp-route-id="@item.PersonNumber">Edit</a>
                    </td>
                }
                @if (item.PersonNumber != 0)
                {
                    <td>
                        <a class="btn btn-info" asp-controller="People" asp-action="Details" asp-route-id="@item.PersonNumber">Details</a>
                    </td>
                }
                @if (signInManager.IsSignedIn(User))
                {
                    <td>
                        <a class="btn btn-info" asp-controller="People" asp-action="Delete" asp-route-id="@item.PersonNumber">Delete</a>
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.SecondarySiteName)
                </td>
                <td>
                    @if (item.SecondarySite != null && item.SecondarySiteName != "")
                    {
                        <a href="@(@item.SecondarySite)" target="_blank">@(@item.SecondarySite)</a>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SecondaryEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TertiaryEmail)
                </td>
            </tr>
            }
        </tbody>
    </table>

    <h5>
        @if (ViewBag.WhichPage != 1 && ViewBag.NumPages != 1)
        {
            <a class="btn btn-link" asp-controller="People" asp-action="Index"
               asp-route-numpages="@ViewBag.NumPages" asp-route-perpage="@ViewBag.PerPage"
               asp-route-whichpage="@(ViewBag.WhichPage - 1)">Previous @ViewBag.PerPage People</a>
        }
        -
        @if (ViewBag.WhichPage != ViewBag.NumPages && ViewBag.NumPages != 1)
        {
            <a class="btn btn-link" asp-controller="People" asp-action="Index"
               asp-route-numpages="@ViewBag.NumPages" asp-route-perpage="@ViewBag.PerPage"
               asp-route-whichpage="@(ViewBag.WhichPage + 1)">Next @ViewBag.PerPage People</a>
        }
    </h5>
}

